{{define "domain_row"}}
<a href="/domains/{{.Domain.PublicID}}" class="list-item">
    <div>
        <span class="list-item-name">{{.Domain.Name}}</span>
        {{if .Domain.Verified}}
        <span class="badge" style="margin-left: 0.75rem;">Verified</span>
        {{else}}
        <span class="badge badge-warn" style="margin-left: 0.75rem;">Unverified</span>
        {{end}}
    </div>
    {{if gt .UnreadCount 0}}
    <span class="badge-count">{{.UnreadCount}} unread</span>
    {{end}}
</a>
{{end}}
